# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/

# Test
TestResults/
*.trx

# NuGet
packages/
*.nupkg
*.snupkg

# Publish
publish/
*.publishsettings

# Logs
*.log

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

trabajo-practico-1/appsettings.json